{
  "minified": false,
  "comments": false,
  "compact": false,
  "sourceMaps": "inline",
  "presets": [
    "babel-preset-es2015-node5"
  ],
  "plugins": [
	"transform-class-properties",
    "transform-object-rest-spread",
  ],
  "env": {
    "production": {
      "compact": true,
      "sourceMaps": false
    }
  }
}
