{
  "minified": false,
  "comments": false,
  "compact": false,
  "sourceMaps": "inline",
  "presets": [
    "babel-preset-es2015-node5",
    "babel-preset-stage-3",
    "babel-preset-node6"
  ],
  "plugins": [
    "async-to-promises",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-inline-environment-variables",
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "production": {
      "compact": true,
      "sourceMaps": false
    }
  }
}
